.page-header
  h2= controller.page_header_show_title

= render partial: "show"
hr
=<> link_to("一覧", [*ns_prefix, current_plural_key], class: "btn btn-default")
- if controller.respond_to_destroy?
  =<> link_to("削除", [*ns_prefix, current_record], method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger")
