#app
  | counter: {{counter}}
  style
    | a

javascript:
  new Vue({
    el: "#app",
    data: {
      counter: 0,
    },
    created() {
      setInterval(() => {
        this.counter += 1
        if ((this.counter % 15) === 0) {
          // alert(this.counter)
        }
        console.log(this.counter)
      }, 1000)
    },
  })
