#app
  table.table.table-striped.table-bordered.table-hover.table-condensed
    template v-for="(row, y) in field"
      tr
        template v-for="(value, x) in row"
          td
            = "{{value}}"

javascript:
  new Vue({
    el: "#app",
    data: {
      field: [
        ["a", "b", "c"],
        ["d", "e", "f"],
        ["g", "h", "i"],
      ],
    },
  })
