#app
  table.table.table-bordered
    tr v-for="(row, y) in field"
      td v-for="(value, x) in row" @dragover="f_dragover" @drop="f_drop"
        span draggable="true" @dragstart="f_start" :id="'id_' + value" = "{{value}}"

javascript:
  new Vue({
    el: "#app",
    data: {
      field: [
        ["玉", "香"],
        ["飛", "角"],
      ],
    },
    methods: {
      // ドラッグ開始時の処理
      f_start: function (e) {
        // ドラッグするデータのid名(なんでもいい)をDataTransferオブジェクトにセット
        e.dataTransfer.setData("target_id", e.target.id)
      },
      // ドラッグ要素がドロップ要素に重なっている間の処理
      f_dragover: function(e) {
        // dragoverイベントをキャンセルしてドロップ先の要素がドロップを受け付けるようにする
        e.preventDefault()
      },
      /***** ドロップ時の処理 *****/
      f_drop: function(e) {
        var target_id = e.dataTransfer.getData("target_id")   // ドラッグされたデータのid名をDataTransferオブジェクトから取得
        var drag_elem = document.getElementById(target_id)  // id名からドラッグされた要素を取得
        e.currentTarget.appendChild(drag_elem)        // ドロップ先にドラッグされた要素を追加(ここらへんは自力でやるっぽい)
        e.preventDefault()                            // エラー回避のため、ドロップ処理の最後にdropイベントをキャンセルしておく
      },
    },
  })
