/ canvas#mycanvas style="background:black; width: 70vw; height: 70vh" data-color="#{'#%06x' % rand(256 * 256 * 256)}"
canvas#mycanvas width="800" height="600" style="background:black" data-color="#{'#%06x' % rand(256 * 256 * 256)}"
