/ canvas#chat_room_canvas style="background:black; width: 70vw; height: 70vh" data-color="#{'#%06x' % rand(256 * 256 * 256)}"
canvas#chat_room_canvas width="1536" height="640" style="background:black" data-color="#{'#%06x' % rand(256 * 256 * 256)}"
