div
  = record.attributes
  =<> link_to("詳細", [controller.class.parent_name.underscore, record])
  =<> link_to("削除", [controller.class.parent_name.underscore, record], :method => :delete, :data => {:confirm => "本当に削除してもよろしいですか？"})
